/*
 * anyRemote Stylesheet
 * Author: martinlettner.info 2008
 * License: CC by-sa 3.0 unported (http://creativecommons.org/licenses/by-sa/3.0/)
 *
 ******************************************************************************/

/*
 * GENERAL
 * based on RESET v1.0 | 20080212 (http://meyerweb.com/eric/tools/css/reset/)
 *
 ******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body
{
	min-width : 50em;
	max-width : 70em;
	margin : 0 auto;
	background : #fff url(bg-body.png) 50% top repeat-y;
	font : normal small/1.3 "Droid Sans", "Liberation Sans", "Lucida Sans", "Segoe UI", Tahoma, sans-serif;
	color : #2e3436;
	cursor : default;
}

h1
{
	margin : .5em 0;
	font-size : 200%;
	font-weight : normal;
	letter-spacing : 1px;
}
h2
{
	margin : 1em 0 .5em;
	font-size : 160%;
	font-weight : normal;
}
h3
{
	margin : .5em 0;
	font-size : 110%;
	font-weight : bold;
}

p
{
	padding : 0 0 .5em;
}
p.extra { font-weight : bold; }
p.info
{
	margin : 1em 0;
	padding : 10px 0 10px 40px;
	background : #eeeeec url(icons/info.png) 5px 2px no-repeat;
}

small
{
	color : #555753;
	font-size : 70%;
}

a
{
	color : #204a87;
}
a[href]:hover, a[href]:active
{
	color : #729fcf;
}
a.extra { font-weight : bold; }

pre
{
	margin : .5em 0;
	padding : .3em 0;
	border-top : 1px dotted #d3d7cf;
	border-bottom : 1px dotted #d3d7cf;
	color : #4e9a06;
	font-size : 120%;
}

code
{
	color : #4e9a06;
	font-size : 115%;
	font-weight : bold;
}

ul
{
	padding : 0 0 1em .5em;
}
ul li
{
	padding-bottom : .5em;
	padding-left : 15px;
	background : url(img/bullet-blue.png) left .5em no-repeat;
	list-style: none;
}
ol
{
	padding : 0 0 1em 2em;
}
ol li
{
	list-style : decimal;
}
ul.compact, ul.compact li { padding-bottom : 0; }
ul li.highlight, ol li.highlight
{
	padding : .5em;
	margin-bottom : .5em;
	background : #eeeeec;
	font-weight : bold;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: overline; }
del { text-decoration: line-through; }

table
{
	width : 100%;
	margin : .5em 0 1em;
	border-collapse: collapse;
	border-spacing: 0;
	border-color : #babdb6;
}
table td
{
	padding : .3em .5em;
}
table tr.alt td
{
	background : #eeeeec;
}
table td[colspan]
{
	padding : 1.5em 0 .5em;
	color : #3465a4;
	font-weight : bold;
}

table.no-padding td
{
	padding : .3em 0;
}
table.devices
{
	border-top : solid 2px #babdb6;
	border-bottom : solid 2px #babdb6;
}
table.devices thead td
{
	padding : .5em;
	background : #d9d9d9;
	font-weight : bold;
}
table.devices tr.head_second td
{
	padding : .5em;
	background : #f0f0f0;
	font-weight : bold;
}
table.devices td
{
	margin : 0;
	padding : .5em;
	text-align : center;
	vertical-align : middle;
}
table.devices td.manufact
{
	text-align : left;
}
table.devices td.model
{
	text-align : left;
}
#content table.devices td img
{
	margin : 0;
	padding : 0;
}
table.keypad
{
	width : 20em;
	border : 2px solid #babdb6;
}
table.keypad th
{
	padding : .2em;
	font-weight : bold;
	color : #fff;
	background : #babdb6;
}
table.keypad td
{
	height : 6em;
	width : 6em;
	text-align : center;
	vertical-align : middle;
}
table.keypad td:first-line
{
	font-weight : bold;
}

a.skip { display : none; }

/*
 * Head, Navigation
 *
 ******************************************************************************/

#head a
{
	text-decoration : none;
}
#head #logo h1
{
	margin : 0;
	font-size : 300%;
	font-weight : normal;
	line-height : 2;
	background : url(img/bg-logo.png) right top no-repeat;
	text-align : center;
}
#head #logo a
{
	position : relative;
	padding-left : 40px;
	color : #555753;
}
#head #logo a:hover
{
	color : #204a87;
}
#head #logo a img
{
	position : absolute;
	top : 0;
	left : 0;
}

#head #navigation
{
	width : 100%;
	float : left;
	padding : 15px 0;
	text-align : center;
}
#head #navigation .padding
{
	padding : 0 1em;
}
#head #navigation a
{
	padding : .5em 7px .5em 0;
	background : #babdb6 url(img/bg-navigation-off.png) right top no-repeat;
	color : #fff;
	font-size : 110%;
}
#head #navigation a span
{
	padding : .5em 0 .5em 7px;
	background : #babdb6 url(img/bg-navigation-off.png) left bottom no-repeat;
}
#head #navigation a.active, #head #navigation a:hover
{
	background : #3465a4 url(img/bg-navigation-on.png) right top no-repeat;
}
#head #navigation a.active span, #head #navigation a:hover span
{
	background : #3465a4 url(img/bg-navigation-on.png) left bottom no-repeat;
}

/*
 * Content
 *
 ******************************************************************************/

#content
{
	float : right;
	width : 70%;
}
#content .padding
{
	padding : 0 1em 2em;
}
#content .clear
{
	clear : both;
}
#content p.center
{
	text-align : center;
}
#content h1
{
	color : #204a87;
}
#content h2
{
	color : #3465a4;
}
#content img
{
	margin : 0 0 2em;
}
#content img.float-left
{
	float : left;
	padding-right : 2em;
}
#content img.float-right
{
	float : right;
	padding-left : 2em;
}

p.scroll2top
{
	font-size : 85%;
	text-align : right;
}
p.scroll2top a
{
	color : #888a85;
}
p.scroll2top a:hover, p.scroll2top a:active
{
	color : #204a87;
}

/*
 * Sidebar
 *
 ******************************************************************************/

#sidebar
{
	float : left;
	width : 30%;
}
#sidebar .padding
{
	padding : 1em 1em 2em;
}
#sidebar dl
{
	margin : 0 0 1em;
}
#sidebar dl dt
{
	border-bottom : 1px solid #ddd;
	padding : .6em 15px .3em;
	background : #eeeeec url(img/bg-sidebar-gray-top.png) right top no-repeat;
	font-size : 140%;
	color : #2e3436;
}
#sidebar dl dd
{
	padding : .5em 15px 1.5em;
	background : #eeeeec url(img/bg-sidebar-gray-bottom.png) left bottom no-repeat;
	color : #2e3436;
}

#sidebar dl.menu dt { background-image : url(img/bg-sidebar-green-top.png); }
#sidebar dl.menu dd { background-image : url(img/bg-sidebar-green-bottom.png); }
#sidebar dl.info dt { background-image : url(img/bg-sidebar-blue-top.png); }
#sidebar dl.info dd { background-image : url(img/bg-sidebar-blue-bottom.png); }
#sidebar dl.contact dt { background-image : url(img/bg-sidebar-gray-top.png); }
#sidebar dl.contact dd { background-image : url(img/bg-sidebar-gray-bottom.png); }
#sidebar dl.help dt { background-image : url(img/bg-sidebar-red-top.png); }
#sidebar dl.help dd { background-image : url(img/bg-sidebar-red-bottom.png); }
#sidebar dl.docs dt { background-image : url(img/bg-sidebar-green-top.png); }
#sidebar dl.docs dd { background-image : url(img/bg-sidebar-green-bottom.png); }
#sidebar dl.docs-advanced dt { background-image : url(img/bg-sidebar-yellow-top.png); }
#sidebar dl.docs-advanced dd { background-image : url(img/bg-sidebar-yellow-bottom.png); }

#sidebar dl dd a
{
	color : inherit;
}
#sidebar dl dd ul
{
	padding : 0;
}
#sidebar dl.menu dd ul li
{
	padding : .3em 0;
	background : none;
}
#sidebar dl.menu dd ul li a
{
	text-decoration : none;
	font-weight : bold;
}
#sidebar dl.menu dd ul li a:hover, #sidebar dl.menu dd ul li a:active
{
	text-decoration : underline;
}


#sidebar dl.docs dd ul,
#sidebar dl.docs-advanced dd ul
{
	padding-bottom : 0;
}
#sidebar dl.docs dd ul li,
#sidebar dl.docs-advanced dd ul li
{
	padding-bottom : 0.1em;
}
#sidebar dl.docs dd ul li a,
#sidebar dl.docs-advanced dd ul li a
{
	text-decoration : none;
}
#sidebar dl.docs dd ul li a:hover, #sidebar dl.docs dd ul li a:active,
#sidebar dl.docs-advanced dd ul li a:hover, #sidebar dl.docs-advanced dd ul li a:active
{
	text-decoration : underline;
}
#sidebar dl.docs dd ul li a:visited,
#sidebar dl.docs-advanced dd ul li a:visited
{
	color : #888a85;
}

/*
 * Foot
 *
 ******************************************************************************/

#foot
{
	clear : both;
	border-top : 1px solid #babdb6;
	margin : 2em 0 0;
	padding : 30px 1em 3em;
	background : #fff url(img/bg-foot.png) 50% top no-repeat;
	color : #888a85;
	text-align : center;
}
#foot a
{
	color : #729fcf;
}

